.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


#embed-video{
  border: 0;
}

.profile-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: auto;
    border-radius: 20rem;
}
