.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template: auto;
    grid-gap: 3px;
}

a {
    text-decoration: none;
    outline: 0;
}

header > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 40px;
    grid-gap: 2em;
    padding: 1% 5% 0 5%;
}

.home {
    grid-column:1 / -1;
}

.block {
    background-color: white;
    border: 5px double #f0f0f0;
    border-radius: 5px;
}

.nav-link:hover, .block:hover {
    border: 5px solid slategray;
    color:black;
    transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
}

.nav-link {
    display: flex;
    color: #808080;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}