<!-- I don't know why you're here, but you probably http-equiv="refresh" disabled or some shit... Hi 3: -->
<!DOCTYPE html>
<html lang="en-us">
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0; url={{config.base_url}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{get_url(path="apple-touch-icon.png")}}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{get_url(path="favicon-32x32.png")}}" />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{get_url(path="favicon-16x16.png")}}"
  />
  <link
    rel="shortcut icon"
    href="{{get_url(path="favicon.ico")}}"
  />
  <link rel="stylesheet" href="{{get_url(path="style.css")}}"/>
  <body id="page">
    <div id="spotlight"><div id="home-center"><h1 id="home-title">404 page not found</h1></div></div>
  </body>
</html>
